		
<div class="col-xs-12" ng-init="init()">
	<div class="row">
		<div class="col-xs-12">


			<div class="clearfix">
				<div class="pull-right tableTools-container"></div>
			</div>

			<div class="dataTables_wrapper form-inline no-footer" id="dynamic-table_wrapper">
				<div class="row">
					<div class="col-xs-12">
						<div class="dataTables_length" id="dynamic-table_filter">
							<label>
								研究成果类型:<input aria-controls="dynamic-table" placeholder="全部" class="form-control input-sm" type="search" ng-model="SPname"/>
								<button class="btn btn-xs btn-primary" ng-click="search()">搜索</button>
							</label>
							<label style="float: right; margin: 0.5% 0px 0px;">
								<a style="vertical-align: middle;" class="blue" href="#/formResearch/-1">
									<i style="vertical-align: middle;" class="ace-icon fa fa-plus bigger-130"></i>添加研究成果
								</a>
							</label>
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
					<thead>
						<tr>
							
							<th>研究成果是否展示</th>
							<th>研究成果浏览量</th>
							<th>研究成果类型</th>
							<th>研究成果发布者</th>
							<th>研究成果发布日期</th>

							<th>操作</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="research in researchs">

							<td>
								<div>
									<p ng-bind="research.isshow==1?'是':'否'"></p>
								</div>
							</td>
							<td>
								<div>
									<p ng-bind="research.view"></p>
								</div>
							</td>
							<td>
								<div>
									<p ng-bind="research.name"></p>
								</div>
							</td>
							<td>
								<div>
									<p ng-bind="research.pubby"></p>
								</div>
							</td>
							<td>
								<div>
									<p ng-bind="research.pubtime"></p>
								</div>
							</td>
							<td>
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="blue" href="#/formResearch/{{research.id}}">
										<i class="ace-icon fa fa-search-plus bigger-130"></i>
										查询修改
									</a>

									<a class="red" ng-click="del(research,$index)" href="">
										<i class="ace-icon fa fa-trash-o bigger-130"></i>
										删除
									</a>
								</div>

								<div class="hidden-md hidden-lg">
									<div class="inline pos-rel">
										<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
											<li>
												<a href="#/formResearch/{{research.id}}" class="tooltip-info" data-rel="tooltip" title="查询修改">
													<span class="blue">
														<i class="ace-icon fa fa-search-plus bigger-120"></i>
													</span>
												</a>
											</li>

											<li>
												<a href="" ng-click="del(research,$index)" class="tooltip-error" data-rel="tooltip" title="删除">
													<span class="red">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</span>
												</a>
											</li>

										</ul>
									</div>
								</div>
							</td>

							<!-- <td>
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="blue" href="#/formCoopArea/{{area.id}}">
										<i class="ace-icon fa fa-search-plus bigger-130"></i>查询修改
									</a>
								</div>
							</td> -->
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-xs-4">
						<div aria-live="polite" role="status" id="dynamic-table_info" class="dataTables_info" ng-bind="'Showing '+((pageNo-1)*pageSize+1)+' to '+ (pageNo==totalPage?totalCount:pageNo*pageSize)+' of '+totalCount+' entries'">
						</div>
					</div>
					<div class="col-xs-5" style="width: 46.666%;">
						<div id="dynamic-table_paginate" class="dataTables_paginate paging_simple_numbers">
							<ul class="pagination">
								<li id="dynamic-table_previous" tabindex="0" aria-controls="dynamic-table" ng-class="{paginate_button:true,previous:true,disabled:pageNo==1}" >
									<a href="" ng-click="change(1)">
										<i class="ace-icon fa fa-angle-double-left"></i>
									</a>
								</li>
								<li tabindex="0" aria-controls="dynamic-table" ng-repeat="pageN in pageNs" ng-class="{paginate_button:true,active:pageN==pageNo}">
									<a href="" ng-click="goto(pageN)" ng-bind="pageN"></a>
								</li>
								<li id="dynamic-table_next" tabindex="0" aria-controls="dynamic-table" ng-class="{paginate_button:true,next:true,disabled:pageNo==totalPage}">
									<a href="" ng-click="change(2)">
										<i class="ace-icon fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-3" style="width: 20%;">
						<div id="dynamic-table_length" class="dataTables_length">
							<label>
								<select class="form-control input-sm" aria-controls="dynamic-table" name="dynamic-table_length" ng-model="pageSize" ng-change="sizeChange()">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select> 条 / 页
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




